/* APPLICATION */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
  /*
  
    &:focus {
      border-color: $action-color;
      box-shadow: $form-box-shadow-focus;
      outline: none;
    }
  */ }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: black;
    box-shadow: black;
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* BASE INDEX */
/* VARIABLES */
/* Descriptive color variables  #e5e5e5;  #F6F6F6*/
/* Functional color variabels */
/* FONT variabels */
/* MEDIA QUERY BREAKPOINTS */
/* BASE */
body,
html {
  background-color: #F6F6F6;
  height: 100%;
  margin: 0px; }

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 35px;
  color: black;
  margin-top: 30px;
  text-align: left; }

hr {
  width: 45%;
  height: 2px;
  background-color: black;
  margin: 80px auto; }

a {
  color: black;
  font-family: sans-serif;
  font-size: 18px;
  font-family: 'Rubik', sans-serif; }

.BREAK {
  margin-bottom: 300px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .BREAK:last-child {
    margin-right: 0; }

.BREAKTOP {
  margin-bottom: 200px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .BREAKTOP:last-child {
    margin-right: 0; }

footer {
  background-color: #3f3f3f;
  left: 0px;
  bottom: 0px;
  height: 250px;
  width: 100%; }

/* index */
/* ===============================


.RESUME, 
.SEND {
  color: black;
  border: 1px solid black;
  padding: 10px 84px;
  margin: 35px 0px;
  border-radius: 0px;

  @media (max-width: 768px) {
    padding: 10px 89px;
  }

  @media (max-width: 550px) {
    
    text-align: center;
    float: none;
  }

  }

.SEND {
    background-color: $color-prim;
    box-sizing: none;
    font-size: 20px;
    font-family: $stack-muli;
    font-weight: 300;
    -webkit-appearance: none;

    @media (max-width: 768px){
    font-size: 16px;}

    @media (max-width: 550px) {
    @include span-columns(12);
  }
}





.RESUME:hover {
  background-color: $color-sec;
  color: $color-text-light;
   }

.SEND:hover {
  background-color: $color-sec;
  color: $color-text-light;
  font-weight: 600;

   }
*/
/* ABOUT PAGE END ================================== */
/* ICONS */
/* BOUNCE ARROW =========================== */
.blink-image {
  margin-top: 8%;
  width: 30px; }
  @media (max-width: 768px) {
    .blink-image {
      margin-top: 15%;
      width: 25px; } }
  @media (max-width: 550px) {
    .blink-image {
      margin-top: 25%;
      width: 25px; } }

@-moz-keyframes blink {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
@-webkit-keyframes blink {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
/* IE */
@-ms-keyframes blink {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
/* Opera and prob css3 final iteration */
@keyframes blink {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
.blink-image {
  -moz-animation: blink normal 2s infinite ease-in-out;
  /* Firefox */
  -webkit-animation: blink normal 2s infinite ease-in-out;
  /* Webkit */
  -ms-animation: blink normal 2s infinite ease-in-out;
  /* IE */
  animation: blink normal 2s infinite ease-in-out;
  /* Opera and prob css3 final iteration */ }

/* BOUNCE ARROW  END=========================== */
/* LOGO =========================== opacity: .2;*/
.LOGO {
  opacity: .2;
  margin: 200px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 38.38412%; }
  .LOGO:last-child {
    margin-right: 0; }

.LOGONAV {
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 35px; }
  @media (max-width: 768px) {
    .LOGONAV {
      margin-left: 15px; } }

.LOGOFOOTER {
  height: 40px;
  width: 40px;
  margin: auto;
  display: block; }

@media (max-width: 768px) {
  .NAME {
    height: 143px;
    width: 480px; } }
@media (max-width: 550px) {
  .NAME {
    height: 102px;
    width: 340px; } }
@media (max-width: 320px) {
  .NAME {
    height: 102px;
    width: 300px; } }

/* LOGO END =========================== */
/* NAV MENU */
.NAV {
  background: transparent;
  color: black;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: right;
  z-index: 1040;
  position: fixed; }
  .NAV:last-child {
    margin-right: 0; }

#NAV {
  margin: 0;
  z-index: 1040;
  padding: 0; }

#NAVMENU {
  margin-top: 100px;
  margin-right: 35px;
  word-spacing: 30px; }

#NAVMENU span {
  display: none; }

/*
#NAVMENU:hover  {
  opacity: .5;
  color: black; }
*/
.sidebar {
  position: fixed;
  margin-left: 35px;
  height: 100%;
  background: #F6F6F6;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  -moz-animation-name: sidebar;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: 0.6s;
  -webkit-animation-name: sidebar;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 0.6s;
  animation-name: sidebar;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.6s; }
  .sidebar:last-child {
    margin-right: 0; }

@-moz-keyframes sidebar {
  100% {
    -moz-transform: translateX(0); }
  0% {
    -webkit-transform: translateX(-50px); } }
@-webkit-keyframes sidebar {
  100% {
    -webkit-transform: translateX(0); }
  0% {
    -webkit-transform: translateX(-50px); } }
@keyframes sidebar {
  100% {
    transform: translateX(0); }
  0% {
    transform: translateX(-50px); } }
.social,
#NAVMENU a {
  opacity: .3; }

a img.social:hover,
#NAVMENU a:hover {
  opacity: 1;
  color: black; }

#NAVMENU a {
  display: block; }

.social {
  height: 19px;
  width: 19px;
  margin-right: 10px;
  margin-top: 20px;
  display: inline; }

.SocialWrap {
  position: fixed;
  bottom: 0;
  padding-bottom: 35px; }

/* NAV MENU END =========================== */
/* INDEX */
/* MAIN BODY CONTAINERS   ====================*/
.NEW {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto; }
  .NEW::after {
    clear: both;
    content: "";
    display: block; }
  @media (max-width: 768px) {
    .NEW {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .NEW::after {
        clear: both;
        content: "";
        display: block; } }

/* MAIN BODY CONTAINERS  END  ====================*/
/*

.PROFPIC {
  border-radius: 50%;
  @include span-columns(4);
  float: left;
  position: relative;
  margin: 10px;

  @media (max-width: 768px) {
    width: 45%;
    float: none;
    position: relative;
    display: block;
    margin: auto; 
    margin-bottom: 45px;

  }

}

*/
/* IMAGE GRID RULES ============================*/
.IMG7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-left: 8.5298%; }
  .IMG7:last-child {
    margin-right: 0; }

.IMG5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 8.5298%;
  margin-top: 370px; }
  .IMG5:last-child {
    margin-right: 0; }

.IMG2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 8.5298%;
  margin-top: 180px; }
  .IMG2:last-child {
    margin-right: 0; }

.IMG11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-left: 8.5298%;
  margin-top: 180px; }
  .IMG11:last-child {
    margin-right: 0; }

.IMGUP {
  -moz-animation-name: IMGUP;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: 0.6s;
  -webkit-animation-name: IMGUP;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 0.6s;
  animation-name: IMGUP;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.6s; }

@-moz-keyframes IMGUP {
  0% {
    -moz-transform: translateY(300px); }
  100% {
    -moz-transform: translateY(0); } }
@-webkit-keyframes IMGUP {
  0% {
    -webkit-transform: translateY(300px); }
  100% {
    -webkit-transform: translateY(0); } }
@keyframes IMGUP {
  0% {
    transform: translateY(300px); }
  100% {
    transform: translateY(0); } }
/* IMAGE GRID  END ============================*/
/* MOBILE MENU   ====================*/
@media (max-width: 768px) {
  .NAV {
    opacity: 1;
    background: #3f3f3f; }

  #NAVMENU {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
    background: #F6F6F6;
    display: none; }

  #NAVMENU .nav-mobile-wrap {
    height: calc(100vh - 50px);
    padding: 70px 0; }

  #NAVMENU.push {
    margin-top: 0; }

  #NAVMENU a {
    display: inline-block;
    margin: 35px 0;
    color: black;
    font-size: 20px; }

  #NAVMENU a:hover {
    opacity: .4; }

  #NAVMENU .sliding-middle-out:after {
    display: none; }

  #NAVMENU span {
    width: 100%;
    display: block; }

  .push {
    display: none; }

  /* Icon 2 */
  #nav-icon3 {
    width: 35px;
    height: 35px;
    position: relative;
    margin: 15px auto;
    margin-right: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }

  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #e5e5e5;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }

  /* Icon 3 */
  #nav-icon3 span:nth-child(1) {
    top: 0px; }

  #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
    top: 10px; }

  #nav-icon3 span:nth-child(4) {
    top: 20px; }

  #nav-icon3.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%; }

  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; } }
/* MOBILE MENU END   ====================*/

/*# sourceMappingURL=APPLICATION.css.map */
