




/* MAIN BODY CONTAINERS   ====================*/

.NEW {
  @include outer-container(70%);

  @media #{$brk-narrow} {
    @include outer-container(100%);
  }

}






/* MAIN BODY CONTAINERS  END  ====================*/






/*

.PROFPIC {
  border-radius: 50%;
  @include span-columns(4);
  float: left;
  position: relative;
  margin: 10px;

  @media #{$brk-narrow} {
    width: 45%;
    float: none;
    position: relative;
    display: block;
    margin: auto; 
    margin-bottom: 45px;

  }

}

*/





