




/* MAIN BODY CONTAINERS   ====================*/

.NEW {
  @include outer-container(72%);
  margin-right: 85px;
  margin-left: 330px;
  

  @media #{$brk-narrow} {
    @include outer-container(90%);
  }

  @media #{$brk-small} {
    @include outer-container(90%);
  }

}

.NEW1 {
  @include outer-container(72%);
  margin-right: 35px;
  margin-left: 300px;


  @media #{$brk-narrow} {
    @include outer-container(100%);
  }

}

.NEW2 {
  @include outer-container(72%);
  margin-right: 25px;
  margin-left: 270px;
  background-color: white;


  @media #{$brk-narrow} {
    @include outer-container(90%);
    background-color: #F6F6F6;
  }

}




.BREAK {
  margin-bottom: 300px;
  @include span-columns(12);
}

.BREAKBOTTOM {
  margin-bottom: 100px;
  @include span-columns(12);
}

.BREAKTOP {
  margin-bottom: 55px;
  z-index: 900000;
  @include span-columns(12);

  @media #{$brk-narrow} {
    margin-bottom: 130px;
  }

   @media #{$brk-small} {
    margin-bottom: 30px;
  }

}

.BREAKTOP1 {
  margin-bottom: 25px;
  z-index: 900000;
  @include span-columns(12);
}

.SIZE {
  background-color: white;
  @include span-columns(12);
}






/* CONTACT FORM =====================*/


form {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  font-family: 'Montserrat' , sans-serif;
  -webkit-appearance: none;

  @media #{$brk-narrow}{
    font-size: 16px;}
}

.FORM {
  @include span-columns(12);
}

.FORM0 {
  @include span-columns(6);

  @media #{$brk-narrow} {
    @include span-columns(6);
    padding: 0px;
  }

  @media #{$brk-small} {
    @include span-columns(12);
    padding: 0px;
  }
}

.FORM1 {
   @include span-columns(6);

   @media #{$brk-narrow} {
    @include span-columns(6);
    padding: 0px;
  }

  @media #{$brk-small} {
    @include span-columns(12);
    padding: 0px;
  }
}

textarea {
  height: 187px;
  font-family: "Yrsa";
}

input {
  font-family: "Yrsa";
}

.SEND {
    background-color: black;
    box-sizing: none;
    font-size: 20px;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 300;
    -webkit-appearance: none;
    color: white;

    @media #{$brk-narrow}{
    font-size: 16px;}

    @media #{$brk-small} {
    @include span-columns(12);
  }
}

  .SEND:hover {
  background-color: white;
  color: black;
  font-weight: 600;
  border: 1px, black, solid;

}

/* CONTACT FORM END=====================*/






