
/* IMAGE GRID RULES ============================*/


.IMG7 {
   @include span-columns(12);
   @include shift(1);
   
}

.IMG5 {
   @include span-columns(6);
   @include shift();
   margin-top: 370px;
}

.IMG2 {
   @include span-columns(4);
   @include shift();
   margin-top: 180px;
}


.IMG11 {
   @include span-columns(9);
   @include shift(1);
   margin-top: 180px;
}


.IMGUP {
   -moz-animation-name: IMGUP;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: IMGUP;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.6s;

    animation-name: IMGUP;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.6s;
}

@-moz-keyframes IMGUP {
    0% {
        -moz-transform: translateY(300px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes IMGUP {
    0% {
        -webkit-transform: translateY(300px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes IMGUP {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0);
    }
}




/* IMAGE GRID  END ============================*/