
/* IMAGE GRID RULES ============================*/


.IMG0 {
   @include span-columns(12);

}



.IMG1 {
   margin-top: 73px;

}

.BLOCK0 {
   @include span-columns(7);

   @media #{$brk-narrow} {
    @include span-columns(6);
  }

   @media #{$brk-small} {
    @include span-columns(12);
  }

}

.TBLOCK {
    margin-top: 80px;
    background-color: white;
    padding: 15px;
    text-align: left;
    cursor: pointer;

}

.IMG2 {
   @include span-columns(4);
   float: right;
   margin-top: 80px;
   @include omega();

   @media #{$brk-narrow} {
    @include span-columns(5);
    float: right;
   margin-top: 80px;
   @include omega();
  }

   @media #{$brk-small} {
    display: none;
  }
}


.IMG3,
.IMG4 {
   @include span-columns(12);
   
   margin-top: 80px;
}

.BLOCK1 {
   @include span-columns(12);
}

.IMG5 {
  margin-top: 80px;
   @include span-columns(6);
   @include shift(3);

   @media #{$brk-small} {
    @include span-columns(12);
  }

}

.IMG6 {
    margin-top: 80px;
    margin-left: 0px;
   @include span-columns(12);
   float: right;

   @media #{$brk-small} {
    @include span-columns(12);
  }

}

.IMGUP {
   -moz-animation-name: IMGUP;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: IMGUP;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.6s;

    animation-name: IMGUP;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.6s;
}

@-moz-keyframes IMGUP {
    0% {
        -moz-transform: translateY(400px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes IMGUP {
    0% {
        -webkit-transform: translateY(400px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes IMGUP {
    0% {
        transform: translateY(400px);
    }
    100% {
        transform: translateY(0);
    }
}




/* IMAGE GRID  END ============================*/