
/* IMAGE GRID RULES ============================*/

.image {
  position: relative;
}


.box {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  @include span-columns(12);
}



.box .overbox {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  color: black;

  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  @include span-columns(12);
  height: inherit;
}

.box:hover .overbox { opacity: .9;

   @media #{$brk-narrow} {
    display: none;
  }
 }



.box .overtext {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
}

.box .NAME {
  font-size: 20px;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

.box:hover .NAME,
.box:focus .NAME {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.box .tagline {
  font-size: 0.8em;
  opacity: 0;
  transition-delay: 0.3s;
  transition-duration: 0.3s;
  margin-left: 30px;
  margin-bottom: 20px;
}

.box:hover .tagline,
.box:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.NAME {
  font-size: 32px;
  color: black;
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 10px;
  text-align: left;
}




.BLOCK0 {
   @include span-columns(7);

   @media #{$brk-narrow} {
    @include span-columns(6);
  }

   @media #{$brk-small} {
    @include span-columns(12);
  }

}

.TBLOCK {
    
    background-color: white;
    padding: 15px;
    text-align: left;
    cursor: pointer;

    @media #{$brk-small} {
    margin-top: 30px;
  }

}

.BLOCK1 {
   @include span-columns(4);
   float: right;

   @media #{$brk-narrow} {
    @include span-columns(5);
    float: right;
   margin-top: 80px;
   @include omega();
  }

   @media #{$brk-small} {
    display: none;
  }
}


.BLOCK2 {
   @include span-columns(6);

   @media #{$brk-small} {
    @include span-columns(12);
  }
}

.BLOCK3 {
   @include span-columns(5);
   float: right;

    @media #{$brk-small} {
    @include span-columns(12);
  }
}






.IMGUP {

    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */

    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.8s;

    -webkit-animation-name: IMGUP;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.8s;

    animation-name: IMGUP;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.8s;
}


@keyframes IMGUP {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes IMGUP { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes IMGUP { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes IMGUP { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



@-moz-keyframes IMGUP {
    0% {
        -moz-transform: translateY(600px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes IMGUP {
    0% {
        -webkit-transform: translateY(600px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes IMGUP {
    0% {
        transform: translateY(600px);
    }
    100% {
        transform: translateY(0);
    }
}


.PROFPIC {
  @include span-columns(5);
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 3px;

  @media #{$brk-narrow} {
    @include span-columns(6);
    margin-left: 25%;
  }

}


.PROFBLOCK {
  @include span-columns(6);
  margin-top: 30px;

  @media #{$brk-narrow} {
    @include span-columns(12);
    
  }

}




.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}



/* IMAGE GRID  END ============================*/