/* ICONS */

/* BOUNCE ARROW =========================== */
.blink-image {
  margin-top: 8%;
  width: 30px;

  @media #{$brk-narrow} {
    margin-top: 15%;
    width: 25px; }

  @media #{$brk-small} {
    margin-top: 25%;
    width: 25px; }
}

@-moz-keyframes blink {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
@-webkit-keyframes blink {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
/* IE */
@-ms-keyframes blink {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
/* Opera and prob css3 final iteration */
@keyframes blink {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
.blink-image {
  -moz-animation: blink normal 2s infinite ease-in-out;
  /* Firefox */
  -webkit-animation: blink normal 2s infinite ease-in-out;
  /* Webkit */
  -ms-animation: blink normal 2s infinite ease-in-out;
  /* IE */
  animation: blink normal 2s infinite ease-in-out;
  /* Opera and prob css3 final iteration */ }

/* BOUNCE ARROW  END=========================== */



/* LOGO =========================== opacity: .2;*/
.LOGO1 {
    margin-top: 55px;
    margin-left: 0px;
    height: 74px;
    width: 120px;
    transition: all ease .5s;

    @media #{$brk-narrow} {
        margin-top: 16px;
        margin-left: 38px;
        height: 49px;
        width: 80px;
      }

    @media #{$brk-small} {
        height: 34px;
        width: 55px;
        margin-top: 20px;
        margin-left: 5%;
    }
  }

.LOGO1:hover {
    opacity: .5;
}
  


  .LOGOFOOTER {
    height: 40px;
    width: 40px;
    margin: auto;
    display: block;
  }
  

.NAME {

  @media #{$brk-narrow}{
    height: 143px;
    width: 480px; }

   @media #{$brk-small} {
    height: 102px;
    width: 340px;
  }

  @media #{$brk-xsmall} {
    height: 102px;
    width: 300px;
  }   
}





/* LOGO END =========================== */