/* NAV MENU */


.NAV {
  background: transparent;
  color: black;
  @include span-columns(12);
  text-align: right;
  z-index: 1040;
  position: fixed;
   }


#NAV {
  margin: 0;
  z-index: 1040;
  padding: 0;

}

#NAVMENU {
 margin-top: 100px;
 margin-right: 35px;
 word-spacing: 30px;
}

#NAVMENU span {
  display: none; }

/*
#NAVMENU:hover  {
  opacity: .5;
  color: black; }
*/

.sidebar {
  position: fixed;
  margin-left: 35px;
  height: 100%; 
  background: $color-prim;
  @include span-columns(2);

  -moz-animation-name: sidebar;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: sidebar;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.6s;

    animation-name: sidebar;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.6s;
}

@-moz-keyframes sidebar {
    100% {
        -moz-transform: translateX(0);
    }
   0% {
        -webkit-transform: translateX(-180px);
    }
}
@-webkit-keyframes sidebar {
    100% {
        -webkit-transform: translateX(0);
    }
    0% {
        -webkit-transform: translateX(-180px);
    }
}
@keyframes sidebar {
    100% {
        transform: translateX(0);
    }
    0% {
        transform: translateX(-180px);
    }
}


.social,
#NAVMENU a  {
  opacity: .3;
}


a img.social:hover,
#NAVMENU a:hover  {
  opacity: 1;
  color: black; }

#NAVMENU a {
  display: block;
}


.social {
  height: 19px;
  width: 19px;
  margin-right: 10px;
  margin-top: 20px;
  display: inline;
}


.SocialWrap {
  position: fixed;
  bottom: 0;
  padding-bottom: 35px;
}




/* NAV MENU END =========================== */





